body {
    font-family: Arial, sans-serif;
    background-color: #fdeef3;
    margin: 0;
    padding: 0;
}

.login-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;

    background: linear-gradient(90deg, #ff5fa2, #ff8acb);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}
