body {
    font-family: "Calibri", sans-serif;
    background: #fff7fa;
    direction: rtl;
    margin: 0;
}

.header {
    background: linear-gradient(to right, #f9a8d4, #c084fc);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    border-radius: 0 0 25px 25px;
}

.header a {
    display: inline-block;
    transition: transform 0.2s;
}

.header a:hover {
    transform: scale(1.05); 
}

.logo {
    height: 80px;
    width: auto;
}

.header h2 {
    font-size: 30px;
    color: white;
    margin: 0;
}

.login-box {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    max-width: 420px;
    margin: 50px auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    text-align: center;
    box-sizing: border-box;
}

.login-box h2 {
    color: #c084fc;
    margin-bottom: 25px;
    font-size: 24px;
}

.login-box label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}


.login-box input[type="email"],
.login-box input[type="password"] {
    width: 90%;            
    max-width: 350px;      
    padding: 12px;         
    margin: 6px auto 16px auto;
    display: block;        
    border-radius: 10px;
    border: 1.5px solid #e6d7ff;
    background: #faf7ff;
    font-size: 15px;
    transition: 0.2s;
}

.login-box input:focus {
    border-color: #c084fc;
    outline: none;
    background: #fff;
}

.login-box button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: linear-gradient(90deg, #f472b6, #c084fc);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s;
}

.login-box button:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.error-msg {
    background-color: #ffcccc;
    color: #a10000;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px solid #ff8a8a;
}

.footer {
    margin-top: 0;
    color: #777;
    font-size: 14px;
    text-align: center;
    align-self: center;
}


@media (max-width: 480px) {
    .login-box {
        padding: 20px;
        margin: 30px auto;
    }

    .header h2 {
        font-size: 22px;
    }

    .login-box button {
        font-size: 16px;
        padding: 12px;
    }
}