* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


body {
  background-color: #fff7fa; 
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Calibri", sans-serif;
}


.support-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}


.subtitle {
  font-size: 1.2rem;
  color: #c084fc; 
  margin-bottom: 25px;
  text-align: center;
}


.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}


.option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(196,132,252,0.2);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  text-decoration: none; 
  color: inherit; 
}

.option-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.option-card span {
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #f472b6;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(196,132,252,0.35);
}

.sos-btn {
  margin-top: 35px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: radial-gradient(circle at 40% 35%, #ff287a, #ff4b4b);
    box-shadow: 0 0 0 10px rgba(255, 75, 75, 0.2), 0 8px 30px rgba(255, 75, 75, 0.5);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
  margin-top: auto; 
  color: #777;
  font-size: 14px;
  text-align: center; 
  padding: 15px 0; 
  width: 100%; 
}

@media (max-width: 480px) {
  .options-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .back-home-btn {
    width: 90%;
  }
  
}
