* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}

body {
    background-color: #fff7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
  color: #c084fc;
  font-size: 1.9rem;
  margin-bottom: 20px;
}


.container {
    width: 90%;
    max-width: 550px;
    background: white;
    margin: 25px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(196,132,252,0.25);
    text-align: center;
}

.back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #c084fc;
    font-size: 1rem;
}

.back:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
}
