html, body {
    height: 100%;
    margin: 0;
    font-family: "Calibri", sans-serif;
    background-color: #fff7fa;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    background: linear-gradient(90deg, #f9a8d4, #c084fc);
    color: white;
    padding: 15px 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 0;
}

#map {
    width: 100%;
    height: 80vh;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

footer {
    margin-top: auto;
    font-size: 14px;
    color: #777;
}
